/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /*
    #000000 -- preto
    #14213d -- azul escuro
    #fca311 -- amarelo
    #e5e5e5 -- cinza
    #ffffff -- branco
    */
  --bg-color: #000000;
  --second-bg-color: #e5e5e5;
  --text-color: #fca311;
  --main-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.btn_contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--text-color);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

h2.titulo{
  color: var(--main-color);
  font-size: 38px;
  text-align: center;
}

h2.titulo span{
  color: var(--text-color);
}

/* Estilo do Cabeçalho */

header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
    color: var(--main-color);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: var(--text-color);
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn_contato button:hover{
    box-shadow: 0px 0px 30px var(--text-color);
    transform: scale(1.05);
}

header img{
    width: 215px;
}

/* Estilo do Topo do Site */

section.topo_site{
  padding: 40px 4%;
}

section.topo_site .flex{
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.img_topo_site img{
  width: 400px;
}

.topo_site .txt_topo_site h1{
  color: var(--main-color);
  font-size: 42px;
  line-height: 40px;
}

.topo_site .txt_topo_site h1 span{
  color: var(--text-color);
}

.topo_site .txt_topo_site p{
  color: var(--main-color);
  margin: 40px 0;
}

.topo_site .img_topo_site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0%{
    top: 0;
  }
  100%{
    top: 30px;
  }
}

/* ESTILO DAS HABILIDADES */

section.habilidades{
  background: var(--second-bg-color);
  padding: 40px 4%;
  
}

section.habilidades .flex{
    gap: 60px;
}

.habilidades .habilidades_box{
  
  color: var(--bg-color);
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: .2s;
}

.habilidades .flex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.habilidades .habilidades_box:hover{
  transform: scale(1.05);
  box-shadow: 0 0 100px var(--main-color);
}

.habilidades .habilidades_box i{
  font-size: 70px;
  color: var(--text-color);
}

.habilidades .habilidades_box h3{
  font-size: 28px;
  margin: 15px 0;
}